@charset "UTF-8";
body{
	background-color: #52bad5;
	color: ivory;
	margin-left: 100px;
	margin-right: 100px;
	font-family: "Tahoma";
}

header, footer {
	background-color: #B3B3B3;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1{
	font-family: "Garamond";
}

a{
	text-decoration: none;
	color: teal;
}
a:hover{
	color: brown;
}

figcaption {
	font-style: italic;
}

main{
	margin-left: 150px;
	margin-right: 150px;
	padding-bottom: 30px;
}

figure{
	text-align: center;
}
